/* Simple Theme layout tweaks */

/* remove image borders */
.typography img {
    border: none;
    background: none;
}


/* ProductPage */
/* sidebar fix */
.no-sidebar .ProductPage .sidebar {
    display: block;
}
.no-sidebar .ProductPage .content-container {
    width: 75%;
}

form {
    width: 100% !important;
}
label {
    display: block;
}


/* Product Holder */
.productSummary, .historySummary {
    margin: 0 0 30px;
    padding: 0 0 30px;
    border-bottom: 1px solid #EEE;
    width: 100%;
    float: left;
}


.productSummaryImage {
    float: left;
    /*width: 150px;*/
}

.productSummaryText {
    float: left;
}


.product-image img {max-width: 100%; height: auto;}

/* Cart template */
.continueShopping {cursor: pointer;}


@media only screen and (max-width: 420px) {
    .productTextContainer {width: 100%;}
    .product-image-stack, .product-info-stack {width: 100%;}
    .no-sidebar .historySummary .sidebar, .historySummary .full {display: block; width: 100%;}
    .productSummaryImage,
    .productSummaryText {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .no-sidebar .ProductPage .content-container {
        width: 100%;
    }
}

/*** 5 Star ratings ***/
.glyphicon {
    color: #bbb;
    font-size: 16px;
}

.glyphicon-star {
    color: #FCAE00;
}

.small {
    font-size: 80%;
}