table thead #fc_cart_head{
	border: 1px solid rgb(102, 102, 102);
}

/* Product Holder */
.productSummary, .historySummary {
	margin: 0 0 30px;
	padding: 0 0 30px;
	border-bottom: 1px solid #EEE;
	width: 100%;
}

.productSummaryImage {
	float: left;
	width: 150px;
}

.productSummaryText {
	margin-left: 170px;
}

/* Product Page */

.foxycartForm {width: 100%;}
form span.submitPrice,
div.addToCartContainer span.submitPrice{
	font-size:12px;
	color:#666;
	font-weight: bold;
}

form div.addToCartContainer{
	margin:14px 0 20px;
	float:left;
	clear:left;
	width: 100%;
}

div.purchaseSection{
	padding: 10px 20px 10px 10px;
}
form div.foxycartOptionsContainer{
	float:left;
	width: 100%;
}
form div.foxycart_qty{
	padding-bottom:20px;
}

.productTextContainer {
	float: left;
	width: 100%;
}

/* checkout */

#fc_checkout_container input.fc_text{
	width:392px;
	background:#e5e5e5;
	border:1px solid #999;
}
#fc_checkout_container label.fc_pre, 
#fc_checkout_container span.fc_pre, 
#fc_receipt_container span.fc_pre{
	text-align: left;
}

img.product-image {max-width: 100%; height: auto;}

a.anchor-fix {display: inline-block; line-height: 0px;}

input.submit, .submitPrice {display: block; clear: both;}
.foxycartOptionsContainer select {margin-bottom: 10px;}
/* Work around for Simple Theme hiding no-sidebar sidebar classes */
.no-sidebar .historySummary .sidebar, .full {display: block;}

.continueShopping {cursor: pointer;}

@media only screen and (max-width: 640px) { 
	.productTextContainer {width: 100%;}
	.product-image-stack, .product-info-stack {width: 100%;}
	.no-sidebar .historySummary .sidebar, .historySummary .full {display: block; width: 100%;}
}