<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuite name="foxystripe">
        <directory>tests</directory>
    </testsuite>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests/</directory>
        </exclude>
    </coverage>
</phpunit>
