name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  ci:
    name: CI
    uses: dynamic/silverstripe-ci/.github/workflows/ci.yml@v4
